<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BoardGames2NET.Settings.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoardGames2NET.Settings.Games.Chess.Graphics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BoardGames2NET.Settings.App>
            <setting name="ActiveLanguage" serializeAs="String">
                <value>eng</value>
            </setting>
        </BoardGames2NET.Settings.App>
    </applicationSettings>
    <userSettings>
        <BoardGames2NET.Settings.Games.Chess.Graphics>
            <setting name="SquareSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SquareMargin" serializeAs="String">
                <value>5</value>
            </setting>
        </BoardGames2NET.Settings.Games.Chess.Graphics>
    </userSettings>
</configuration>